//Body Style
.tackle-body {
	font-family: 'Karla', sans-serif;
	color: #000000;
	background: #ffffff;
	font-size: 14px;
  	padding-top: rem-calc(56);
}

//Margin Vertical
.margin-vertical {
	@include margin-vertical( 50px );
}

//Margin Bottom
.margin-bottom {
	margin-bottom: 30px;
}

.tackle-home-template-main {
	min-height: 500px;
}