//Body Style
.tackle-body {
  font-family: 'Karla', sans-serif;
  color: #000000;
  background: #ffffff;
  font-size: 14px;
}

//Margin Vertical
.margin-vertical {
  @include margin-vertical( 50px );
}

//Margin Bottom
.margin-bottom {
  margin-bottom: 30px;
}

//Navigation Style
.nav-style {
  ul {
	li {
	  position: relative;
	  ul {
		position: absolute;
		top: 37px;
		right: 0;
		background: #fff;
		z-index: 1;
		border: 1px solid #c2c2c2;
		display: none;
	  }
	  &:hover {
		ul {
		  display: block;
		}
	  }
	}
  }
}
