//Heading Style
.tackle-body {
  h1, h2, h3, h4, h5, h6 {
	margin: 0 0 7px 0;
	font-family: inherit;
	color: inherit;
  }
  h1 {
	font-size: 30px;
  }
  h2 {
	font-size: 28px;
  }
  h3 {
	font-size: 26px;
  }
  h4 {
	font-size: 24px;
  }
  h5 {
	font-size: 22px;
  }
  h6 {
	font-size: 20px;
  }
  p {
	margin-bottom: 7px;
  }
  ul {
	list-style: none;
  }
  a {
	color: inherit;
	&:hover {
	  color: inherit;
	}
	&:focus {
	  color: inherit;
	}
  }
}
