//Body

.tackle-header {
  background: #24292e;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
}

.tackle-secondary-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.tackle-primary-nav {
  .fa-home {
    font-size: 20px;
    vertical-align: sub;
  }
}
