.tackle-home-template-section-1a-primary {
  text-align: left;
}

.tackle-home-template-section-1b-secondary {
  text-align: center;
}

.tackle-home-template-get-started-list {
  li {
	margin-bottom: 10px;
	background: #f2f2f2;
	padding: 10px 15px;
  }
  i {
	min-width: 60px;
	font-size: 50px;
	vertical-align: middle;
  }
}

.tackle-home-template-slider {
  position: relative;
}

.tackle-home-template-slide-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  //padding: 50px;
}

.tackle-home-template-slide-title {
  i {
	margin-right: 15px;
	vertical-align: middle;
  }
  .fa-play {
	font-size: 77px;
  }
  .fa-file-text {
	font-size: 70px;
  }
  .fa-mobile {
	font-size: 117px;
  }
  .fa-clock-o {
	font-size: 94px;
  }
}

.tackle-home-template-time-icon {
  i {
	font-size: 96px;
	color: #dddddd;
  }
}

.tackle-home-template-section-1b-secondary-inner {
  border: 3px solid #f2f2f2;
  padding: 50px 15px;
}
