.tackle-home-template-section-1a-primary {
  text-align: left;
}

.tackle-home-template-section-1b-secondary {
  text-align: right;
}

.tackle-home-template-get-started-list {
  li {
	margin-bottom: 10px;
	background: #f2f2f2;
	padding: 10px 15px;
  }
  i {
	min-width: 60px;
	font-size: 50px;
	vertical-align: middle;
  }
}