//Time Main
.tackle-time-main {
  margin: 30px 0;
  min-height: 640px;
}

//Time Section 1
.tackle-date {
  width: 30%;
  margin-right: 1%;
  float: left;
  font-size: 25px;
}

.tackle-day-and-month {
  color: #777777;
}

.tackle-day-view {
  width: 69%;
  float: left;
  text-align: right;
  margin: 10px 0;
}

.tackle-day-view {
  a {
	padding: 6px 12px;
	color: #000000;
  }
}

.tackle-day-view span {
  a {
	&:hover {
	  color: #000000;
	  background: #e9e9e9;
	  border-color: #c0c0c0;
	}
  }
}

.tackle-toggle-day {
  a {
	margin-right: -3px;
  }
}

.tackle-toggle-day {
  a {
	&:last-child {
	  margin-right: 0;
	}
  }
}

.tackle-toggle-day {
  a {
	&:first-child {
	  border-top: 1px solid #d3d3d3;
	  border-left: 1px solid #d3d3d3;
	  border-bottom: 1px solid #d3d3d3;
	  border-bottom-left-radius: 3px;
	  border-top-left-radius: 3px;
	  margin-right: -4px;
	}
  }
}

.tackle-toggle-day {
  a {
	&:nth-child(2) {
	  border: 1px solid #d0d0d0;
	  background: #dddddd;
	}
  }
}

.tackle-toggle-day a:last-child, .tackle-day-and-week-view a:last-child {
  border-top: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.tackle-calendar {
  a {
	border-radius: 3px;
	border: 1px solid #d3d3d3;
  }
}

.tackle-day-and-week-view {
  a {
	&:first-child {
	  border: 1px solid #d3d3d3;
	  border-bottom-left-radius: 3px;
	  border-top-left-radius: 3px;
	  margin-right: -4px;
	}
  }
}

//Time Section 2

//New Time Entry
.tackle-new-time-entry {
  width: 7%;
  margin-right: 1%;
  float: left;
}

.tackle-new-time-entry-text {
  font-size: 14px;
  color: #777777;
}

.tackle-time-section-2 {
  margin-top: 20px;
}

.tackle-new-time-entry {
  a {
	color: #000000;
  }
}

.tackle-new-time-entry {
  a {
	&:hover {
	  color: #000000;
	}
  }
}

.tackle-new-time-entry {
  i {
	font-size: 75px;
  }
}

//Day View Table
.tackle-day-view-table {
  width: 92%;
  float: left;
}

//Day View Week Nav
.tackle-day-view-week-nav {
  list-style: none;
  margin: 10px 0;
}

.tackle-day-view-week-nav {
  li {
	display: inline-block;
	margin-right: -1px;
  }
}

.tackle-day-view-week-nav {
  a {
	color: #000000;
	background: #e9e9e9;
	display: inline-block;
	width: 117px;
	padding: 5px 10px;
	margin-right: -2px;
	border-right: 1px solid #d3d3d3;
  }
}

.tackle-day-view-week-nav {
  a {
	&:hover {
	  color: #000000;
	  background: #dddddd;
	  border-color: #d3d3d3;
	}
  }
}

.tackle-day-view-week-nav {
  li {
	&:last-child {
	  a {
		border-right: none;
	  }
	}
  }
}

.tackle-current a, .tackle-current span {
  color: #4484ce;
  background: #dddddd;
}

.tackle-current {
  a {
	&:hover {
	  color: #4484ce;
	}
  }
}

.tackle-time-count {
  display: block;
  margin-top: -5px;
  font-size: 13px;
  color: #777777;
}

.day-view-week-nav-total {
  a {
	background: #dddddd;
	color: #777777;
  }
}

//Time Section 1 and Time Section 2
.tackle-time-section-1, .tackle-time-section-2 {
  overflow: hidden;
}

//Day view entry list
.day-view-entry-list {
  list-style: none;
  margin: 0;
  position: relative;
}

.day-view-entry-list {
  li {
	padding: 10px;
	background: #e5f1f9;
	border-bottom: 1px solid #c0c0c0;
	overflow: hidden;
  }
}

.tackle-time-primary-container {
  width: 75%;
  font-size: 14px;
}

.tackle-project {
  font-weight: 700;
}

.tackle-notes {
  color: #777777;
  font-size: 13px;
}

.tackle-time-settings {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-5%, -50%);
}

.tackle-entry-time {
  font-size: 20px;
}

.tackle-entry-time, .tackle-start, .tackle-edit {
  display: inline-block;
  margin-left: 10px;
}

.tackle-start a, .tackle-edit a {
  color: #000000;
}

.tackle-edit {
  a {
	&:hover {
	  color: #000000;
	}
  }
}

.tackle-start {
  a {
	&:hover {
	  color: #ffffff;
	}
  }
}

.tackle-start {
  i {
	margin-right: 5px;
  }
}

.tackle-start {
  a {
	background: #4484ce;
	color: #fff;
	padding: 10px 15px;
	border-radius: 3px;
  }
}

.tackle-edit {
  a {
	padding: 5px 5px 5px 7px;
	border-radius: 3px;
	border: 1px solid #d3d3d3;
	background: #f1f1f1;
  }
}

.tackle-edit {
  a {
	&:hover {
	  border: 1px solid #c0c0c0;
	  background: #e9e9e9;
	}
  }
}

.tackle-day-view-summary {
  text-align: right;
  font-size: 20px;
  margin-right: 152px;
  padding: 17px 0;
}

.tackle-day-view-total {
  margin-right: 90px;
  color: #b2b2b2;
}