.tackle-date {
  text-align: left;
}

.tackle-day-view {
  text-align: right;
}

.tackle-new-time-entry-text {
  display: block;
}

//Model Box

.tackle-add-new-time-entry-modal-box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
}

.tackle-add-new-time-entry-modal-box {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #888;
}

#tackle-add-new-time-entry-close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover, &:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }
}

.tackle-time-template-subsection-1b-secondary  {
  text-align: right;
}

//tackle-time-template-subsection-1b-secondary
.tackle-time-template-day-toggle-left, .tackle-time-template-day-toggle-right {
  padding: 8px 14px;
  box-shadow: 0 0 0 1px #cccccc;
  background: #ffffff;
}

.tackle-time-template-today, .tackle-time-template-day-button, .tackle-time-template-week {
  box-shadow: 0 0 0 1px #cccccc;
  padding: 8px 10px;
  background: #ffffff;
}

.tackle-time-template-calendar {
  background: #ffffff;
  padding: 8px 12px;
  box-shadow: 0 0 0 1px #cccccc;
  margin-left: 5px;
  margin-right: 5px;
}

.tackle-time-template-subsection-1b-secondary {
  a{
	&:hover {
	  background: #e9e9e9;
	}
  }
}

//tackle-time-template-subsection-1a-primary
.tackle-time-template-subsection-1a-primary {
	font-size: 24px;
}

.tackle-time-template-day {
  font-weight: bold;
}

.tackle-time-template-date {
  color: #777777;
}

.tackle-add-new-time-entry-button-container {
  .fa-plus-square {
	font-size: 75px;
  }
}

.tackle-time-template-week-day-name, .tackle-time-template-week-day-total-time {
  box-shadow: 0 0 0 1px #cccccc;
  background: #ffffff;
  position: relative;
}

.tackle-time-template-week-day-total-time {
  position: relative;
  display: flex;
  justify-content: center;
}

.tackle-time-template-total-time-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.tackle-time-template-total-time {
  font-weight: 700;
  color: #555555;
}

.tackle-time-template-week-day, .tackle-time-template-total {
  font-weight: bold;
}

.tackle-time-template-total {
  text-align: right;
  color: #777777;
}

.tackle-time-template-subsection-2b-subsection-i {
  margin-bottom: 10px;
}

.tackle-time-template-entry-time {
  font-size: 22px;
  font-weight: 700;
}

.tackle-time-template-entry-time, .tackle-time-template-stop {
  margin-right: 10px;
}

.tackle-time-template-entry-time-edit {
  a {
	box-shadow: 0 0 0 1px #cccccc;
	background: #ffffff;
	padding: 6px 9px;
  }
}

.tackle-time-template-subsection-2b-subsection-ii {
  border-bottom: 1px solid #CCCCCC;
}

.tackle-time-template-subsection-2b-subsection-iii {
  font-weight: 700;
  font-size: 22px;
}

.tackle-time-template-project, .tackle-time-start {
  font-weight: bold;
}

.tackle-time-template-task {
  font-weight: bold;
  color: #555555;
}

.tackle-time-template-task-note {
  color: #555555;
}

.tackle-time-template-stop {
  a {
	background: #4484ce;
	padding: 10px 14px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
  }
}