/*--------------------------------------------------------------
Time Page Template Main
--------------------------------------------------------------*/
.tackle-time-template-main {
  min-height: 700px;
}

/*--------------------------------------------------------------
Time Page Template Section 1
--------------------------------------------------------------*/
.tackle-time-template-section-1 {
  background: $color_background_light_grey;
  border-bottom: 1px solid $color_border_grey;
  padding-top: 10px;
}

/*--------------------------------------------------------------
Time Page Template Section 1a
--------------------------------------------------------------*/
.tackle-time-template-section-1a {

}

/*--------------------------------------------------------------
Time Page Template Section 1a Primary
--------------------------------------------------------------*/
.tackle-time-template-section-1a-primary {

}

/*--------------------------------------------------------------
Time Page Template Section 1a Secondary
--------------------------------------------------------------*/
.tackle-time-template-section-1a-secondary {
  font-size: 20px;
  line-height: initial;
}

.tackle-time-template-day {
  color: $color_text_dark_grey;
}

.tackle-time-template-date {
  color: $color_text_light_grey;
}

.tackle-time-template-day, .tackle-time-template-date {
  vertical-align: middle;
}

/*--------------------------------------------------------------
Time Page Template Section 1a Tertiary
--------------------------------------------------------------*/
.tackle-time-template-section-1a-tertiary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-size: 13px;
}

.tackle-time-template-nav-day-left {

}

.tackle-time-template-nav-today {

}

.tackle-time-template-nav-day-right {
  border: 1px solid $color_border_grey;
}

.tackle-time-template-nav-calendar {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid $color_border_grey;
  padding: 6px 10px;
  font-size: 14px;
  vertical-align: middle;
}

.tackle-time-template-nav-day {
  border-left: 1px solid $color_border_grey;
  border-right: 1px solid $color_border_grey;
}

.tackle-time-template-nav-week {
  border-right: 1px solid $color_border_grey;
}


.tackle-time-template-nav-day-right {

}

.tackle-time-template-nav-today,
.tackle-time-template-nav-day,
.tackle-time-template-nav-week,
.tackle-time-template-nav-day-left,
.tackle-time-template-nav-day-right,
.tackle-time-template-nav-calendar
{
  @include button();
}

.tackle-time-template-nav-day-left,
.tackle-time-template-nav-day {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid $color_border_grey;
}

.tackle-time-template-nav-day-right,
.tackle-time-template-nav-week {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.tackle-time-template-nav-today,
.tackle-time-template-nav-day,
.tackle-time-template-nav-week {
  padding: 7px 8px;
  font-size: 13px;
  line-height: initial;
  border-top: 1px solid $color_border_grey;
  border-bottom: 1px solid $color_border_grey;
  vertical-align: middle;
}

.tackle-time-template-nav-day-left,
.tackle-time-template-nav-day-right {
  font-size: 20px;
  vertical-align: middle;
  padding: 3px 10px;
}

/*--------------------------------------------------------------
Time Page Template Section 1b
--------------------------------------------------------------*/
.tackle-time-template-section-1b {
  padding-top: 10px;
}

.tackle-time-template-section-1b-primary {

}

.tackle-add-new-time-entry-container {
  display: none;
}

.tackle-time-template-section-1b-secondary {

}

.tackle-time-template-section-1b-secondary-inner {

}

.tackle-time-template-week-day-container, .tackle-time-template-total-time-container {
  margin: 5px 26px 0 26px;
}

.tackle-time-template-week-day {

}

.tackle-time-template-section-1b-secondary {
  font-size: 13px;
  a {
    display: inline-block;
    color: #646464;
    &:first-child {
      background: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      position: relative;
      top: 1px;
      border-top: 3px solid #4d7dae;
      color: #000000;
    }
  }
}

.tackle-time-template-total-time-container {
  color: $color_text_light_grey;
  font-size: 15px;
}

.tackle-time-template-week-day-total-time-calc {

}

.tackle-time-template-week-day, .tackle-time-template-week-day-total-time-calc {
  font-weight: bold;
}

/*--------------------------------------------------------------
Time Page Template Section 2
--------------------------------------------------------------*/
.tackle-time-template-section-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*--------------------------------------------------------------
Time Page Template Section 2 Primary
--------------------------------------------------------------*/
.tackle-time-template-section-2-primary {
  .fa-plus {
    font-size: 30px;
    background: #0a0;
    cursor: pointer;
    color: #fff;
    padding: 20px 23px;
    border-radius: 100%;
    &:hover {
      color: #fff;
      background: #00b500;
    }
  }
}

.tackle-time-template-time-template-new-entry {
  color: $color_text_light_grey;
  margin-top: 7px;
}


/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 1
--------------------------------------------------------------*/

.tackle-time-template-section-2-secondary {

}

.tackle-time-template-section-2-secondary-1 {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f6f8fb;
  border-bottom: 1px solid $color_border_grey;
  position: relative;
}

/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 1a
--------------------------------------------------------------*/

.tackle-time-template-section-2-secondary-1a {

}

.tackle-time-template-project {
  font-weight: bold;
}

.tackle-time-template-project-client {

}

.tackle-time-template-task-notes {

}

.tackle-time-template-task {
  color: $color_text_dark_grey;
}

.tackle-time-template-dash {

}

.tackle-time-template-task-note {
  color: $color_text_light_grey;
}

/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 1b
--------------------------------------------------------------*/

.tackle-time-template-section-2-secondary-1b {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .tackle-time-template-section-2-secondary-ii-inner {
    margin-bottom: 0;
  }
}

.tackle-time-template-section-2-secondary-ii-inner {

}

.tackle-time-template-entry-time-edit {
  .fa-pencil {
    border: 1px solid $color_border_grey;
    padding: 8px 9px;
    border-radius: 3px;
    font-size: 13px;
    @include button();
  }
}

.tackle-time-template-stop {
  background: #4484ce;
  padding: 10px 12px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 3px;
  &:hover {
    background: #407dc4;
  }
  .fa-spin {
    margin-right: 5px;
  }
}

.tackle-time-template-section-2-secondary-ii-inner {
  .tackle-time-template-stop {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
}

.tackle-time-template-entry-time-edit, .tackle-time-template-stop {
  margin-left: 5px;
  margin-right: 5px;
}

.tackle-time-template-entry-time {
  font-size: 20px;
  font-weight: bold;
}

/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 2
--------------------------------------------------------------*/

.tackle-time-template-section-2-secondary-2 {
  padding: 26px 0;
  text-align: right;
  font-size: 20px;
  color: $color_text_light_grey;
}

.tackle-time-template-total {

}

.tackle-time-template-total-time {
  font-weight: 700;
}

.tackle-time-template-total,
.tackle-time-template-total-time {
  font-size: 20px;
}
