.tackle-uninvoiced-template-section-2 {
  label {
	display: inline-block;
  }
}

.tackle-uninvoiced-export-nav {
  display: inline-block;
}

.tackle-uninvoiced-template-subsection-2b-secondary {
  text-align: right;
}

.tackle-uninvoiced-template-section-3 {
  text-align: center;
}
