/*--------------------------------------------------------------
Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Custom
--------------------------------------------------------------*/
.tackle-body {
  font-family: 'Karla', sans-serif;
  color: #000000;
  background: #ffffff;
  font-size: 14px; }

.margin-vertical {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-bottom {
  margin-bottom: 15px; }

.nav-style ul li {
  position: relative; }
  .nav-style ul li ul {
    position: absolute;
    top: 37px;
    right: 0;
    background: #fff;
    z-index: 1;
    border: 1px solid #c2c2c2;
    display: none; }
  .nav-style ul li:hover ul {
    display: block; }

/*--------------------------------------------------------------
Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Appearance
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Authorized OAuth2 API Clients
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Clients
--------------------------------------------------------------*/
.tackle-clients-template-nav {
  display: inline-block; }

/*--------------------------------------------------------------
Configure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Configure Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Create New OAuth2 API Client
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Customize Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Default Values
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Delete Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Detailed Time
--------------------------------------------------------------*/
.tackle-detailed-time-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
Edit Preferences
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
.tackle-body h1, .tackle-body h2, .tackle-body h3, .tackle-body h4, .tackle-body h5, .tackle-body h6 {
  margin: 0 0 7px 0;
  font-family: inherit;
  color: inherit; }
.tackle-body h1 {
  font-size: 30px; }
.tackle-body h2 {
  font-size: 28px; }
.tackle-body h3 {
  font-size: 26px; }
.tackle-body h4 {
  font-size: 24px; }
.tackle-body h5 {
  font-size: 22px; }
.tackle-body h6 {
  font-size: 20px; }
.tackle-body p {
  margin-bottom: 7px; }
.tackle-body ul {
  margin: 0;
  list-style: none; }
.tackle-body a {
  color: inherit; }
  .tackle-body a:hover {
    color: inherit; }
  .tackle-body a:focus {
    color: inherit; }
.tackle-body button,
.tackle-body input[type='submit'],
.tackle-body input[type='button'] {
  font-family: inherit;
  background: #ffffff;
  color: #000000;
  padding: 8px 10px;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 0;
  font-weight: 700;
  font-size: 12px; }
  .tackle-body button:hover,
  .tackle-body input[type='submit']:hover,
  .tackle-body input[type='button']:hover {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000; }
  .tackle-body button:focus,
  .tackle-body input[type='submit']:focus,
  .tackle-body input[type='button']:focus {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000; }

/*--------------------------------------------------------------
Expenses
--------------------------------------------------------------*/
.tackle-expenses-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Expense Categories
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.tackle-footer {
  background: #e9e9e9;
  padding: 8px 0;
  padding-top: 15px;
  padding-bottom: 15px; }

.tackle-footer-primary {
  text-align: left; }
  .tackle-footer-primary i {
    font-size: 20px; }

.tackle-footer-secondary {
  text-align: right; }

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tackle-header {
  border-bottom: 1px solid #c2c2c2; }

/*--------------------------------------------------------------
Help
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Home
--------------------------------------------------------------*/
.tackle-home-template-section-1a-primary {
  text-align: left; }

.tackle-home-template-section-1b-secondary {
  text-align: right; }

/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Expenses From CSV
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import from FreshBooks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Invoices
--------------------------------------------------------------*/
.tackle-invoices-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Item Types
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage Tasks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Messages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Profile Page Template Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Time Report
--------------------------------------------------------------*/
/*--------------------------------------------------------------
New Client
--------------------------------------------------------------*/
.tackle-new-client-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
New Projects
--------------------------------------------------------------*/
.tackle-choose-a-client-options, .tackle-new-project-section-2 label, .tackle-new-project-section-3 label {
  display: inline-block; }

/*--------------------------------------------------------------
Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Projects
--------------------------------------------------------------*/
.tackle-projects-template-subsection-1b-secondary {
  text-align: right; }

.tackle-projects-template-section-2b {
  text-align: center; }

/*--------------------------------------------------------------
Recurring
--------------------------------------------------------------*/
.tackle-recurring-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Referrals
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Report
--------------------------------------------------------------*/
.tackle-report-template-section-2 {
  text-align: center; }

/*--------------------------------------------------------------
Reports
--------------------------------------------------------------*/
.tackle-reports-template-section-5 {
  text-align: center; }

/*--------------------------------------------------------------
Expense
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Retainers
--------------------------------------------------------------*/
.tackle-retainer-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Settings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Security
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Signout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
.tackle-date {
  text-align: left; }

.tackle-day-view {
  text-align: right; }

.tackle-new-time-entry-text {
  display: block; }

.tackle-add-new-time-entry-modal-box {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */ }

.tackle-add-new-time-entry-modal-box {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #888; }

#tackle-add-new-time-entry-close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  #tackle-add-new-time-entry-close-button:hover, #tackle-add-new-time-entry-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

/*--------------------------------------------------------------
Translations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Uninvoiced
--------------------------------------------------------------*/
.tackle-uninvoiced-template-section-2 label {
  display: inline-block; }

.tackle-uninvoiced-export-nav {
  display: inline-block; }

.tackle-uninvoiced-template-subsection-2b-secondary {
  text-align: right; }

.tackle-uninvoiced-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Upgrade
--------------------------------------------------------------*/
.tackle-upgrade-template-main {
  text-align: center; }

/*--------------------------------------------------------------
Your Projects
--------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
