/*--------------------------------------------------------------
Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Custom
--------------------------------------------------------------*/
.tackle-body {
  font-family: 'Karla', sans-serif;
  color: #000000;
  background: #ffffff;
  font-size: 14px; }

.margin-vertical {
  margin-top: 50px;
  margin-bottom: 50px; }

.margin-bottom {
  margin-bottom: 30px; }

.nav-style ul li {
  position: relative; }
  .nav-style ul li ul {
    position: absolute;
    top: 48px;
    right: 0;
    background: #f0f0f0;
    color: #000000;
    z-index: 1;
    display: none;
    min-width: 230px;
    font-weight: 400; }
  .nav-style ul li:hover ul {
    display: block; }

.tackle-profile-nav {
  background: #ffffff;
  box-shadow: 0 4px 6px -2px #cdcdcd; }
  .tackle-profile-nav img {
    margin-right: 10px; }

.tackle-signout-nav {
  border-top: 1px solid #cccccc; }

.tackle-primary-nav ul li > a, .tackle-secondary-nav ul li > a {
  line-height: 2; }

.tackle-primary-nav a:hover, .tackle-secondary-nav a:hover {
  background: rgba(163, 172, 182, 0.2); }

.tackle-secondary-nav .fa-caret-down {
  margin-left: 5px; }

.tackle-home-template-main {
  min-height: 500px; }

/*--------------------------------------------------------------
Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Appearance
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Authorized OAuth2 API Clients
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Clients
--------------------------------------------------------------*/
.tackle-clients-template-nav {
  display: inline-block; }

/*--------------------------------------------------------------
Configure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Configure Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Create New OAuth2 API Client
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Customize Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Default Values
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Delete Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Detailed Time
--------------------------------------------------------------*/
.tackle-detailed-time-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
Edit Preferences
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
.tackle-body h1, .tackle-body h2, .tackle-body h3, .tackle-body h4, .tackle-body h5, .tackle-body h6 {
  margin: 0 0 7px 0;
  font-family: inherit;
  color: inherit; }
.tackle-body h1 {
  font-size: 30px; }
.tackle-body h2 {
  font-size: 28px; }
.tackle-body h3 {
  font-size: 26px; }
.tackle-body h4 {
  font-size: 24px; }
.tackle-body h5 {
  font-size: 22px; }
.tackle-body h6 {
  font-size: 20px; }
.tackle-body p {
  margin-bottom: 7px; }
.tackle-body ul {
  margin: 0;
  list-style: none; }
.tackle-body a {
  color: inherit; }
  .tackle-body a:hover {
    color: inherit; }
  .tackle-body a:focus {
    color: inherit; }
.tackle-body button,
.tackle-body input[type='submit'],
.tackle-body input[type='button'] {
  font-family: inherit;
  background: #ffffff;
  color: #000000;
  padding: 8px 10px;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 0;
  font-weight: 700;
  font-size: 12px; }
  .tackle-body button:hover,
  .tackle-body input[type='submit']:hover,
  .tackle-body input[type='button']:hover {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000; }
  .tackle-body button:focus,
  .tackle-body input[type='submit']:focus,
  .tackle-body input[type='button']:focus {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000; }

/*--------------------------------------------------------------
Expenses
--------------------------------------------------------------*/
.tackle-expenses-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Expense Categories
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.tackle-footer {
  background: #e9e9e9;
  padding: 8px 0;
  padding-top: 15px;
  padding-bottom: 15px; }

.tackle-footer-primary {
  text-align: left; }
  .tackle-footer-primary i {
    font-size: 20px; }

.tackle-footer-secondary {
  text-align: right; }

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tackle-header {
  background: #24292e;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px; }

.tackle-secondary-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.tackle-primary-nav .fa-home {
  font-size: 20px;
  vertical-align: sub; }

/*--------------------------------------------------------------
Help
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Home
--------------------------------------------------------------*/
.tackle-home-template-section-1a-primary {
  text-align: left; }

.tackle-home-template-section-1b-secondary {
  text-align: center; }

.tackle-home-template-get-started-list li {
  margin-bottom: 10px;
  background: #f2f2f2;
  padding: 10px 15px; }
.tackle-home-template-get-started-list i {
  min-width: 60px;
  font-size: 50px;
  vertical-align: middle; }

.tackle-home-template-slider {
  position: relative; }

.tackle-home-template-slide-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.tackle-home-template-slide-title i {
  margin-right: 15px;
  vertical-align: middle; }
.tackle-home-template-slide-title .fa-play {
  font-size: 77px; }
.tackle-home-template-slide-title .fa-file-text {
  font-size: 70px; }
.tackle-home-template-slide-title .fa-mobile {
  font-size: 117px; }
.tackle-home-template-slide-title .fa-clock-o {
  font-size: 94px; }

.tackle-home-template-time-icon i {
  font-size: 96px;
  color: #dddddd; }

.tackle-home-template-section-1b-secondary-inner {
  border: 3px solid #f2f2f2;
  padding: 50px 15px; }

/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Expenses From CSV
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import from FreshBooks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Invoices
--------------------------------------------------------------*/
.tackle-invoices-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Item Types
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage Tasks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Messages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Profile Page Template Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Time Report
--------------------------------------------------------------*/
/*--------------------------------------------------------------
New Client
--------------------------------------------------------------*/
.tackle-new-client-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
New Projects
--------------------------------------------------------------*/
.tackle-choose-a-client-options, .tackle-new-project-section-2 label, .tackle-new-project-section-3 label {
  display: inline-block; }

/*--------------------------------------------------------------
Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Projects
--------------------------------------------------------------*/
.tackle-projects-template-subsection-1b-secondary {
  text-align: right; }

.tackle-projects-template-section-2b {
  text-align: center; }

/*--------------------------------------------------------------
Recurring
--------------------------------------------------------------*/
.tackle-recurring-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Referrals
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Report
--------------------------------------------------------------*/
.tackle-report-template-section-2 {
  text-align: center; }

/*--------------------------------------------------------------
Reports
--------------------------------------------------------------*/
.tackle-reports-template-section-5 {
  text-align: center; }

/*--------------------------------------------------------------
Expense
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Retainers
--------------------------------------------------------------*/
.tackle-retainer-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Settings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Security
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Signout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
.tackle-time-template-main {
  min-height: 700px; }

.tackle-date {
  text-align: left; }

.tackle-day-view {
  text-align: right; }

.tackle-new-time-entry-text {
  display: block; }

.tackle-add-new-time-entry-modal-box {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1; }

.tackle-add-new-time-entry-modal-box {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #888; }

#tackle-add-new-time-entry-close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  #tackle-add-new-time-entry-close-button:hover, #tackle-add-new-time-entry-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

.tackle-time-template-subsection-1b-secondary {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.tackle-time-template-day-toggle-left, .tackle-time-template-day-toggle-right {
  font-size: 20px;
  vertical-align: middle;
  padding: 3px 10px; }

.tackle-time-template-today, .tackle-time-template-day-button, .tackle-time-template-week {
  padding-left: 7px;
  padding-right: 7px;
  background: #ffffff; }

.tackle-time-template-calendar {
  background: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  margin-right: 5px; }

.tackle-time-template-subsection-2b-subsection-i-primary a:first-child {
  background: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  position: relative;
  top: 1px; }

.tackle-time-template-subsection-1a-primary {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: initial; }

.tackle-time-template-day {
  color: #464545; }

.tackle-time-template-date {
  color: #9b9b9b; }

.tackle-add-new-time-entry-button-container .fa-plus {
  font-size: 30px;
  background: #0a0;
  cursor: pointer;
  color: #fff;
  padding: 20px 23px;
  border-radius: 100%; }
  .tackle-add-new-time-entry-button-container .fa-plus:hover {
    color: #fff;
    background: #00b500; }

.tackle-time-template-week-day-name, .tackle-time-template-week-day-total-time {
  box-shadow: 0 0 0 1px #cccccc;
  background: #ffffff; }

.tackle-time-template-week-day-name {
  transition: 0.3s; }
  .tackle-time-template-week-day-name:hover {
    background: #F0ECEB; }

.tackle-time-template-week-day-total-time {
  display: flex;
  justify-content: center;
  background: #F0ECEB;
  font-size: 17px; }

.tackle-time-template-total-time {
  font-weight: 700;
  color: #000000; }

.tackle-time-template-week-day {
  font-weight: bold; }

.tackle-time-template-subsection-2b-subsection-iii {
  text-align: right; }

.tackle-time-template-total {
  color: #777777;
  font-weight: 400;
  margin-right: 70px; }

.tackle-time-template-subsection-2b-subsection-i-primary {
  display: flex;
  justify-content: space-between;
  font-size: 13px; }
  .tackle-time-template-subsection-2b-subsection-i-primary a {
    display: inline-block;
    color: #646464; }
    .tackle-time-template-subsection-2b-subsection-i-primary a:first-child {
      border-top: 3px solid #4d7dae;
      color: #000000; }
  .tackle-time-template-subsection-2b-subsection-i-primary p {
    color: #555555; }

.tackle-time-template-subsection-2b-secondary .tackle-time-template-subsection-2b-ii-container .tackle-time-template-subsection-2b-subsection-ii,
.tackle-time-template-subsection-2b-secondary .tackle-time-template-subsection-2b-ii-container .tackle-time-template-subsection-2b-subsection-iii {
  margin: 0; }

.tackle-time-template-week-day-container {
  margin: 5px 26px 0 26px; }

.tackle-time-template-subsection-2b-subsection-i-secondary {
  position: relative; }

.tackle-time-template-total-time-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.tackle-time-template-entry-time {
  font-size: 20px;
  font-weight: 700; }

.tackle-time-template-stop, .tackle-time-template-entry-time-edit {
  margin-right: 10px; }

.tackle-time-template-entry-time-edit a {
  box-shadow: 0 0 0 1px #cccccc;
  background: #ffffff;
  padding: 6px 9px; }
  .tackle-time-template-entry-time-edit a:hover {
    background: #f0eceb; }

.tackle-time-template-subsection-2b-subsection-i-container {
  padding-top: 10px; }

.tackle-time-template-subsection-2b-subsection-ii {
  border-bottom: 1px solid #CCCCCC;
  background: #f5f8fc;
  position: relative; }

.tackle-time-template-subsection-2b-subsection-iii {
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

.tackle-time-template-project, .tackle-time-start {
  font-weight: bold; }

.tackle-time-template-task {
  font-weight: bold;
  color: #555555; }

.tackle-time-template-task-note {
  color: #555555; }

.tackle-time-template-stop a {
  background: #4484ce;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  border-radius: 3px; }
  .tackle-time-template-stop a:hover {
    background: #407dc4;
    color: #ffffff; }

.tackle-time-template-subsection-2b-subsection-ii-tertiary {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.tackle-time-template-new-entry {
  color: #898989;
  margin-top: 7px; }

.tackle-time-template-subsection-2b-subsection-ii-secondary,
.tackle-time-template-subsection-2b-subsection-ii-tertiary {
  padding-top: 10px;
  padding-bottom: 10px; }

.tackle-time-template-day-toggle-left,
.tackle-time-template-day-toggle-right,
.tackle-time-template-today,
.tackle-time-template-calendar,
.tackle-time-template-day-button,
.tackle-time-template-week,
.tackle-time-template-entry-time-edit {
  background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  color: #000000; }
  .tackle-time-template-day-toggle-left:hover,
  .tackle-time-template-day-toggle-right:hover,
  .tackle-time-template-today:hover,
  .tackle-time-template-calendar:hover,
  .tackle-time-template-day-button:hover,
  .tackle-time-template-week:hover,
  .tackle-time-template-entry-time-edit:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 -0.5em;
    border-color: rgba(27, 31, 35, 0.35); }

.tackle-time-template-day-toggle-left, .tackle-time-template-day-button {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #cacccf; }

.tackle-time-template-day-toggle-right, .tackle-time-template-week {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.tackle-time-template-day-toggle-right {
  border: 1px solid #cacccf; }

.tackle-time-template-today, .tackle-time-template-day-button, .tackle-time-template-week {
  vertical-align: middle;
  padding: 7px 8px;
  font-size: 13px;
  line-height: initial;
  border-top: 1px solid #cacccf;
  border-bottom: 1px solid #cacccf; }

.tackle-time-template-calendar {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #cacccf;
  padding: 6px 10px;
  font-size: 14px;
  vertical-align: middle; }

.tackle-time-template-day-button {
  border-left: 1px solid #cacccf;
  border-right: 1px solid #cacccf; }

.tackle-time-template-week {
  border-right: 1px solid #cacccf; }

.tackle-time-template-entry-time-edit {
  border: 1px solid #cacccf;
  padding: 6px 8px;
  border-radius: 3px;
  font-size: 13px; }

.tackle-time-template-section-1 {
  background: #fafbfc;
  border-bottom: 1px solid #CCCCCC;
  padding-top: 10px; }

.tackle-time-template-section-2 {
  margin-top: 20px;
  margin-bottom: 20px; }

.tackle-time-template-container {
  border: 1px solid #ccc;
  border-radius: 3px; }

.tackle-blue {
  background: #ffffff; }

.tackle-time-template-week-day-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  color: #898989; }

.tackle-time-template-week-day-total-time-calc {
  font-weight: 700; }

/*--------------------------------------------------------------
Translations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Uninvoiced
--------------------------------------------------------------*/
.tackle-uninvoiced-template-section-2 label {
  display: inline-block; }

.tackle-uninvoiced-export-nav {
  display: inline-block; }

.tackle-uninvoiced-template-subsection-2b-secondary {
  text-align: right; }

.tackle-uninvoiced-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Upgrade
--------------------------------------------------------------*/
.tackle-upgrade-template-main {
  text-align: center; }

/*--------------------------------------------------------------
Your Projects
--------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
