/*--------------------------------------------------------------
Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Color Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Functions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Custom
--------------------------------------------------------------*/
.tackle-body {
  font-family: 'Karla', sans-serif;
  color: #000000;
  background: #ffffff;
  font-size: 14px; }

.margin-vertical {
  margin-top: 50px;
  margin-bottom: 50px; }

.margin-bottom {
  margin-bottom: 30px; }

.nav-style ul li {
  position: relative; }
  .nav-style ul li ul {
    position: absolute;
    top: 48px;
    right: 0;
    background: #f0f0f0;
    color: #000000;
    z-index: 1;
    display: none;
    min-width: 230px;
    font-weight: 400; }
  .nav-style ul li:hover ul {
    display: block; }

.tackle-profile-nav {
  background: #ffffff;
  box-shadow: 0 4px 6px -2px #cdcdcd; }
  .tackle-profile-nav img {
    margin-right: 10px; }

.tackle-signout-nav {
  border-top: 1px solid #cccccc; }

.tackle-primary-nav ul li > a, .tackle-secondary-nav ul li > a {
  line-height: 2; }

.tackle-primary-nav a:hover, .tackle-secondary-nav a:hover {
  background: rgba(163, 172, 182, 0.2); }

.tackle-secondary-nav .fa-caret-down {
  margin-left: 5px; }

.tackle-home-template-main {
  min-height: 500px; }

/*--------------------------------------------------------------
Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Appearance
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Authorized OAuth2 API Clients
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Clients
--------------------------------------------------------------*/
.tackle-clients-template-nav {
  display: inline-block; }

/*--------------------------------------------------------------
Configure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Configure Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Create New OAuth2 API Client
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Customize Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Default Values
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Delete Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Detailed Time
--------------------------------------------------------------*/
.tackle-detailed-time-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
Edit Preferences
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
.tackle-body h1, .tackle-body h2, .tackle-body h3, .tackle-body h4, .tackle-body h5, .tackle-body h6 {
  margin: 0 0 7px 0;
  font-family: inherit;
  color: inherit; }

.tackle-body h1 {
  font-size: 30px; }

.tackle-body h2 {
  font-size: 28px; }

.tackle-body h3 {
  font-size: 26px; }

.tackle-body h4 {
  font-size: 24px; }

.tackle-body h5 {
  font-size: 22px; }

.tackle-body h6 {
  font-size: 20px; }

.tackle-body p {
  margin-bottom: 7px; }

.tackle-body ul {
  margin: 0;
  list-style: none; }

.tackle-body a {
  color: inherit; }
  .tackle-body a:hover {
    color: inherit; }
  .tackle-body a:focus {
    color: inherit; }

.tackle-body button,
.tackle-body input[type='submit'],
.tackle-body input[type='button'] {
  font-family: inherit;
  background: #ffffff;
  color: #000000;
  padding: 8px 10px;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 0;
  font-weight: 700;
  font-size: 12px; }
  .tackle-body button:hover,
  .tackle-body input[type='submit']:hover,
  .tackle-body input[type='button']:hover {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000; }
  .tackle-body button:focus,
  .tackle-body input[type='submit']:focus,
  .tackle-body input[type='button']:focus {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000; }

/*--------------------------------------------------------------
Expenses
--------------------------------------------------------------*/
.tackle-expenses-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Expense Categories
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.tackle-footer {
  background: #e9e9e9;
  padding: 8px 0;
  padding-top: 15px;
  padding-bottom: 15px; }

.tackle-footer-primary {
  text-align: left; }
  .tackle-footer-primary i {
    font-size: 20px; }

.tackle-footer-secondary {
  text-align: right; }

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.tackle-header {
  background: #24292e;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px; }

.tackle-secondary-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end; }

.tackle-primary-nav .fa-home {
  font-size: 20px;
  vertical-align: sub; }

/*--------------------------------------------------------------
Help
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Home
--------------------------------------------------------------*/
.tackle-home {
  min-height: 500px; }

/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Expenses From CSV
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import from FreshBooks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Invoices
--------------------------------------------------------------*/
.invoices__title {
  width: 200px; }

/*--------------------------------------------------------------
Item Types
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage Tasks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Messages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Profile Page Template Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Time Report
--------------------------------------------------------------*/
/*--------------------------------------------------------------
New Client
--------------------------------------------------------------*/
.tackle-new-client-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
New Projects
--------------------------------------------------------------*/
.tackle-choose-a-client-options, .tackle-new-project-section-2 label, .tackle-new-project-section-3 label {
  display: inline-block; }

/*--------------------------------------------------------------
Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Projects
--------------------------------------------------------------*/
.tackle-projects-template-subsection-1b-secondary {
  text-align: right; }

.tackle-projects-template-section-2b {
  text-align: center; }

/*--------------------------------------------------------------
Recurring
--------------------------------------------------------------*/
.tackle-recurring-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Referrals
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Report
--------------------------------------------------------------*/
.tackle-report-template-section-2 {
  text-align: center; }

/*--------------------------------------------------------------
Reports
--------------------------------------------------------------*/
.tackle-reports-template-section-5 {
  text-align: center; }

/*--------------------------------------------------------------
Expense
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Retainers
--------------------------------------------------------------*/
.tackle-retainer-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Settings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Security
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Signout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time Page Template Main
--------------------------------------------------------------*/
.tackle-time-template-main {
  min-height: 700px; }

/*--------------------------------------------------------------
Time Page Template Section 1
--------------------------------------------------------------*/
.tackle-time-template-section-1 {
  background: #fafbfc;
  border-bottom: 1px solid #cacccf;
  padding-top: 10px; }

/*--------------------------------------------------------------
Time Page Template Section 1a
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time Page Template Section 1a Primary
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time Page Template Section 1a Secondary
--------------------------------------------------------------*/
.tackle-time-template-section-1a-secondary {
  font-size: 20px;
  line-height: initial; }

.tackle-time-template-day {
  color: #464545; }

.tackle-time-template-date {
  color: #757575; }

.tackle-time-template-day, .tackle-time-template-date {
  vertical-align: middle; }

/*--------------------------------------------------------------
Time Page Template Section 1a Tertiary
--------------------------------------------------------------*/
.tackle-time-template-section-1a-tertiary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-size: 13px; }

.tackle-time-template-nav-day-right {
  border: 1px solid #cacccf; }

.tackle-time-template-nav-calendar {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #cacccf;
  padding: 6px 10px;
  font-size: 14px;
  vertical-align: middle; }

.tackle-time-template-nav-day {
  border-left: 1px solid #cacccf;
  border-right: 1px solid #cacccf; }

.tackle-time-template-nav-week {
  border-right: 1px solid #cacccf; }

.tackle-time-template-nav-today,
.tackle-time-template-nav-day,
.tackle-time-template-nav-week,
.tackle-time-template-nav-day-left,
.tackle-time-template-nav-day-right,
.tackle-time-template-nav-calendar {
  background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  color: #000000; }
  .tackle-time-template-nav-today:hover,
  .tackle-time-template-nav-day:hover,
  .tackle-time-template-nav-week:hover,
  .tackle-time-template-nav-day-left:hover,
  .tackle-time-template-nav-day-right:hover,
  .tackle-time-template-nav-calendar:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 0;
    border-color: rgba(27, 31, 35, 0.35); }

.tackle-time-template-nav-day-left,
.tackle-time-template-nav-day {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #cacccf; }

.tackle-time-template-nav-day-right,
.tackle-time-template-nav-week {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.tackle-time-template-nav-today,
.tackle-time-template-nav-day,
.tackle-time-template-nav-week {
  padding: 7px 8px;
  font-size: 13px;
  line-height: initial;
  border-top: 1px solid #cacccf;
  border-bottom: 1px solid #cacccf;
  vertical-align: middle; }

.tackle-time-template-nav-day-left,
.tackle-time-template-nav-day-right {
  font-size: 20px;
  vertical-align: middle;
  padding: 3px 10px; }

/*--------------------------------------------------------------
Time Page Template Section 1b
--------------------------------------------------------------*/
.tackle-time-template-section-1b {
  padding-top: 10px; }

.tackle-add-new-time-entry-container {
  display: none; }

.tackle-time-template-week-day-container, .tackle-time-template-total-time-container {
  margin: 5px 26px 0 26px; }

.tackle-time-template-section-1b-secondary {
  font-size: 13px; }
  .tackle-time-template-section-1b-secondary a {
    display: inline-block;
    color: #646464; }
    .tackle-time-template-section-1b-secondary a:first-child {
      background: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      position: relative;
      top: 1px;
      border-top: 3px solid #4d7dae;
      color: #000000; }

.tackle-time-template-total-time-container {
  color: #757575;
  font-size: 15px; }

.tackle-time-template-week-day, .tackle-time-template-week-day-total-time-calc {
  font-weight: bold; }

/*--------------------------------------------------------------
Time Page Template Section 2
--------------------------------------------------------------*/
.tackle-time-template-section-2 {
  padding-top: 20px;
  padding-bottom: 20px; }

/*--------------------------------------------------------------
Time Page Template Section 2 Primary
--------------------------------------------------------------*/
.tackle-time-template-section-2-primary .fa-plus {
  font-size: 30px;
  background: #0a0;
  cursor: pointer;
  color: #fff;
  padding: 20px 23px;
  border-radius: 100%; }
  .tackle-time-template-section-2-primary .fa-plus:hover {
    color: #fff;
    background: #00b500; }

.tackle-time-template-time-template-new-entry {
  color: #757575;
  margin-top: 7px; }

/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 1
--------------------------------------------------------------*/
.tackle-time-template-section-2-secondary-1 {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f6f8fb;
  border-bottom: 1px solid #cacccf;
  position: relative; }

/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 1a
--------------------------------------------------------------*/
.tackle-time-template-project {
  font-weight: bold; }

.tackle-time-template-task {
  color: #464545; }

.tackle-time-template-task-note {
  color: #757575; }

/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 1b
--------------------------------------------------------------*/
.tackle-time-template-section-2-secondary-1b {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .tackle-time-template-section-2-secondary-1b .tackle-time-template-section-2-secondary-ii-inner {
    margin-bottom: 0; }

.tackle-time-template-entry-time-edit .fa-pencil {
  border: 1px solid #cacccf;
  padding: 8px 9px;
  border-radius: 3px;
  font-size: 13px;
  background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  color: #000000; }
  .tackle-time-template-entry-time-edit .fa-pencil:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: 0 0;
    border-color: rgba(27, 31, 35, 0.35); }

.tackle-time-template-stop {
  background: #4484ce;
  padding: 10px 12px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 3px; }
  .tackle-time-template-stop:hover {
    background: #407dc4; }
  .tackle-time-template-stop .fa-spin {
    margin-right: 5px; }

.tackle-time-template-section-2-secondary-ii-inner .tackle-time-template-stop {
  color: #ffffff; }
  .tackle-time-template-section-2-secondary-ii-inner .tackle-time-template-stop:hover {
    color: #ffffff; }

.tackle-time-template-entry-time-edit, .tackle-time-template-stop {
  margin-left: 5px;
  margin-right: 5px; }

.tackle-time-template-entry-time {
  font-size: 20px;
  font-weight: bold; }

/*--------------------------------------------------------------
Time Page Template Section 2 Secondary 2
--------------------------------------------------------------*/
.tackle-time-template-section-2-secondary-2 {
  padding: 26px 0;
  text-align: right;
  font-size: 20px;
  color: #757575; }

.tackle-time-template-total-time {
  font-weight: 700; }

.tackle-time-template-total,
.tackle-time-template-total-time {
  font-size: 20px; }

/*--------------------------------------------------------------
Translations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Uninvoiced
--------------------------------------------------------------*/
.tackle-uninvoiced-template-section-2 label {
  display: inline-block; }

.tackle-uninvoiced-export-nav {
  display: inline-block; }

.tackle-uninvoiced-template-subsection-2b-secondary {
  text-align: right; }

.tackle-uninvoiced-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Upgrade
--------------------------------------------------------------*/
.tackle-upgrade-template-main {
  text-align: center; }

/*--------------------------------------------------------------
Your Projects
--------------------------------------------------------------*/
