/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Functions
--------------------------------------------------------------*/
/*---------------------------
		Rem Calc
---------------------------*/
/*--------------------------------------------------------------
Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Color Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Functions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Custom
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Appearance
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Authorized OAuth2 API Clients
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Clients
--------------------------------------------------------------*/
.tackle-clients-template-nav {
  display: inline-block; }

/*--------------------------------------------------------------
Configure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Configure Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Create New OAuth2 API Client
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Customize Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Default Values
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Delete Account
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Detailed Time
--------------------------------------------------------------*/
.tackle-detailed-time-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
Edit Preferences
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/
body {
  font-family: 'Tajawal', sans-serif !important; }

/*--------------------------------------------------------------
Expenses
--------------------------------------------------------------*/
.tackle-expenses-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Expense Categories
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.tackle-footer {
  background: #e9e9e9;
  padding: 8px 0;
  padding-top: 15px;
  padding-bottom: 15px; }

.tackle-footer-primary {
  text-align: left; }
  .tackle-footer-primary i {
    font-size: 20px; }

.tackle-footer-secondary {
  text-align: right; }

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.header {
  font-size: 1.125rem; }

.tackle-welcome {
  max-width: 15.625rem; }

/*--------------------------------------------------------------
Help
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Home
--------------------------------------------------------------*/
.tackle-page {
  min-height: 50rem; }

.home__icon {
  min-width: 1.25rem; }

.home__list-group {
  font-size: 1.3125rem;
  font-weight: 500; }

/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Expenses From CSV
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import from FreshBooks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Import Data into Tackle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Invoices
--------------------------------------------------------------*/
.invoices__title {
  width: 200px; }

/*--------------------------------------------------------------
Item Types
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Manage Tasks
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Messages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Profile Page Template Structure
--------------------------------------------------------------*/
/*--------------------------------------------------------------
My Time Report
--------------------------------------------------------------*/
/*--------------------------------------------------------------
New Client
--------------------------------------------------------------*/
.tackle-new-client-template-main label {
  display: inline-block; }

/*--------------------------------------------------------------
New Projects
--------------------------------------------------------------*/
.tackle-choose-a-client-options, .tackle-new-project-section-2 label, .tackle-new-project-section-3 label {
  display: inline-block; }

/*--------------------------------------------------------------
Online Payment
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Projects
--------------------------------------------------------------*/
.tackle-projects-template-subsection-1b-secondary {
  text-align: right; }

.tackle-projects-template-section-2b {
  text-align: center; }

/*--------------------------------------------------------------
Recurring
--------------------------------------------------------------*/
.tackle-recurring-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Referrals
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Report
--------------------------------------------------------------*/
.tackle-report-template-section-2 {
  text-align: center; }

/*--------------------------------------------------------------
Reports
--------------------------------------------------------------*/
.tackle-reports-template-section-5 {
  text-align: center; }

/*--------------------------------------------------------------
Expense
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Retainers
--------------------------------------------------------------*/
.tackle-retainer-template-section-4 {
  text-align: center; }

/*--------------------------------------------------------------
Settings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Security
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Signout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Time
--------------------------------------------------------------*/
.time__date {
  font-size: 1.5rem;
  font-weight: 500; }

.time__hours,
.time__total,
.time__total-hours {
  font-size: 1.375rem;
  font-weight: 500; }

.time__total-hours-a-week {
  height: 100%;
  font-weight: 500; }

/*--------------------------------------------------------------
Translations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Uninvoiced
--------------------------------------------------------------*/
.tackle-uninvoiced-template-section-2 label {
  display: inline-block; }

.tackle-uninvoiced-export-nav {
  display: inline-block; }

.tackle-uninvoiced-template-subsection-2b-secondary {
  text-align: right; }

.tackle-uninvoiced-template-section-3 {
  text-align: center; }

/*--------------------------------------------------------------
Upgrade
--------------------------------------------------------------*/
.tackle-upgrade-template-main {
  text-align: center; }

/*--------------------------------------------------------------
Your Projects
--------------------------------------------------------------*/
